# Application
PORT=3000
NODE_ENV=development

# Database CRM (Kết nối vào PostgreSQL riêng cho NestJS CRM)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=crm_backend

# n8n Database (Database riêng cho engine n8n trong Docker)
N8N_DB_NAME=crm_db

# RabbitMQ 
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=crm_events_queue

# n8n Automation Webhook
N8N_WEBHOOK_BASE_URL=http://localhost:5678/webhook

# Frontend Client URL (cho CORS)
FRONTEND_URL=http://localhost:3001